doctype html
html
  head
    title 404
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/css/bulma.css")
  body
    section.hero.is-fullheight.is-danger
      .hero-body
        div.test
          h1.title 404 | Page Not Found
          p.subtitle The page you are looking for does not exist.
          a.button.is-dark(href="/" title="Go to homepage") Go to homepage