doctype html
head
    meta(charset='UTF-8')
    title Title
form(method='post' action='/tests') // Action is the route to send the form to
    input(type='text' name='program_name')
    br
    input(type='text' name='program_leader')
    br
    input(type='date' name='program_year')
    br
    input(type='date' name='injury_date')
    br
    input(type='text' name='injury_time')
    br
    input(type='text' name='name_injured')
    br
    input(type='text' name='location_injury')
    br
    input(type='text' name='treatment')
    br
    input(type='text' name='how_injury')
    br
    input(type='text' name='where_injury')
    br
    input(type='text' name='staff')
    br
    input(type='submit' name='submit' value='Submit')
